@model Somativa.Models.Fornecedor

@{
    ViewData["Title"] = "Details";
}






<h1 class="my-5 text-center">Detalhes</h1>


<div class="row justify-content-center text-white">
    <div class="col-md-4 p-4 mb-3" style="border-radius: 8px;border: 2px solid #000;background-color: #D42053;">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FornecedorId" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <label asp-for="Nome" class="form-control" style="border: 2px solid #000;background-color: #DCE9BE;" >@Model.Nome</label>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cnpj" class="control-label"></label>
                <label asp-for="Cnpj" class="form-control" style="border: 2px solid #000;background-color: #DCE9BE;"> @Model.Cnpj</label>
                <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group justify-content-center text-center">
                <a asp-action="Edit" style="border-radius: 8px;border: 2px solid #000;background: #F5DC8A;" class="btn btn-primary px-2 text-dark mx-3 my-2" asp-route-id="@Model?.FornecedorId">Editar</a>
                <a style="border-radius: 8px;border: 2px solid #000;background: #99173C;" class="btn btn-primary px-2 text-dark text-decoration-none mx-3" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>