@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<div class="container" style="font-family: Italianno">
    <div class="row text-center ">
        <div class="col col-12">
            <h1 class="text-center text-white  " style="margin-top: -58px; font-size: 30px; font-weight:900;">
                Principais Pratos
            </h1>
        </div>
    </div>
    <div class=" row mt-5 justify-content-center">
        <div class=" card col-12 col-md-4 col-lg-3  align-content-center " style="background-color:black; width: fit-content">
            <h1 class="mb-2 align-self-center text-white "> Macarrone</h1>
            <div >
                <img src="~/img/prato2 1.png" />
            </div>
            <div class=" justify-content-center text-center" style="margin-top: -10%">
                <img src="~/img/price-discount-tag-Graphics-18027694-2-580x387 1.png" />
            </div>
    
        </div>

        <div class=" card col-12 col-md-4 col-lg-3 align-content-center" style="background-color:black; width: fit-content">
            <h1 class="mb-2 align-self-center text-white "> Macarrone</h1>
            <div>
                <img src="~/img/prato2 1.png" />
            </div>
            <div class=" justify-content-center text-center" style="margin-top: -10%">
                <img src="~/img/price-discount-tag-Graphics-18027694-2-580x387 1.png" />
            </div>

        </div>

        <div class=" card col-12 col-md-12 col-lg-3 " style="background-color:black; width: fit-content">
            <h1 class="mb-2 align-self-center text-white "> Macarrone</h1>
            <div>
                <img src="~/img/prato2 1.png" />
            </div>
            <div class=" justify-content-center text-center" style="margin-top: -10%">
                <img src="~/img/price-discount-tag-Graphics-18027694-2-580x387 1.png" />
            </div>

        </div>
        
    </div>
</div>

