@model Somativa.Models.Categoria

@{
    ViewData["Title"] = "Editar";
}

<h1 class="my-5 text-center">Editar </h1>

<div class="row justify-content-center text-center">
<div class="col-md-4 ">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoriaId" />
            <div class ="form-group p-4 mb-3" style="border-radius: 8px;border: 2px solid #000;background-color: #D42053;">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" style="background-color: #DCE9BE;" />
                <span asp-validation-for="Nome" class="text-danger"></span>
                <div class="form-group">
                    <input type="submit" value="Salvar" style="border-radius: 8px;border: 2px solid #000;background: #F5DC8A;" class="btn btn-primary px-2 text-dark mx-3 my-2" />
                    <a style="border-radius: 8px;border: 2px solid #000;background: #99173C;" class="btn btn-primary px-2 text-dark text-decoration-none mx-3" asp-action="Index">Cancelar</a>
                </div>
            </div>
           
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
