@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso negado!";
}

<header>
    <h1 class="alert alert-danger">@ViewData["Title"]</h1>
    <p class="alert alert-danger" style="font-size:20px;">Acesso negado, pois você não possui autorização para acessar esta página. Se necessita alterar algum dado importante, solicite essa alteração ao seu superior.</p>
</header>
